
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Picture</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Picture</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>

            </table>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">Create</button>
<button type="button" class="btn btn-primary" id="edit">Edit</button>
<button type="button" id="del" class="btn btn-primary">Delete</button>
<!-- Modal edit-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning  d-none" role="alert" id="alert"></div>
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="edit_id">ID</label>
                        <input type="text" name="edit_id" id="edit_id" disabled>
                    </div>

                    <div class="form-group">
                        <label for="edit_name">Name</label>
                        <input type="text" class="form-control" id="edit_name">
                    </div>

                    <div class="form-group">
                        <label for="edit_descrip">Description</label>
                        <input type="text" class="form-control" id="edit_descrip">
                    </div>

                    <div class="form-group">
                        <label for="edit_pic">Picture</label>
                        <input type="text" class="form-control" id="edit_pic">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="update" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal create-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning  d-none" role="alert" id="alert"></div>
                <form action="/" method="post">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="descrip">Description</label>
                        <input type="text" class="form-control" id="descrip">
                    </div>

                    <div class="form-group">
                        <label for="pic">Picture</label>
                        <input type="text" class="form-control" id="pic">
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="create" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //Load data to table
        $(document).ready(function () {
            var myTable = $("#myTable").DataTable({
                "ajax": {
                    "url": "/Admin/Category/GetData",
                    "type": "GET",
                    "dataSrc": '',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID" },
                    { "data": "cateName" },
                    { "data": "cateDescription" },
                    {
                        "data": "catePicture",
                        "render": function (data, type, row) {
                            return '<img src="' + data + '"width="160" height="160" />';
                        }
                    }
                ]
            });

            //selected row
            $('#myTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    myTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            //delete category
            $("#del").click(function () {
                var id = myTable.cell('.selected', 0).data();
                $.ajax({
                    url: "/Admin/Category/DelCategory",
                    data: { id: id },
                    success: function (response) {
                        if (response == "fail") {
                            $("#alert").removeClass("d-none");
                            $("#alert").html("Error occured");
                        }
                        else {
                            myTable.row('.selected').remove().draw(false);
                        }
                    }
                });
            });

            //create category
            $("#create").click(function () {
                var formData = new FormData();
                formData.append("ID", $("#id").val());
                formData.append("cateName", $("#name").val());
                formData.append("cateDescription", $("#descrip").val());
                formData.append("catePicture", $("#pic").val());
                $.ajax({
                    url: "/Admin/Category/CreateCategory",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (respone) {
                        //update table
                        myTable.ajax.reload();
                    }
                });
            });

            $("#edit").click(function () {
                $("#editModal").modal("show");
                //var id = myTable.cell('.selected', 0).data();
                //var name = myTable.cell('.selected', 1).data();
                //var descrip = myTable.cell('.selected', 2).data();
                //var pic = myTable.cell('.selected', 3).data();
                $("#edit_id").val(myTable.cell('.selected', 0).data());
                $("#edit_name").val(myTable.cell('.selected', 1).data());
                $("#edit_descrip").val(myTable.cell('.selected', 2).data());
                $("#edit_pic").val(myTable.cell('.selected', 3).data());
            });

            $("#update").click(function () {
                var formData = new FormData();
                formData.append("ID", $("#edit_id").val());
                formData.append("cateName", $("#edit_name").val());
                formData.append("cateDescription", $("#edit_descrip").val());
                formData.append("catePicture", $("#edit_pic").val());
                $.ajax({
                    url: "/Admin/Category/EditCategory",
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (respone) {
                        //update table
                        if (respone == "success")
                            myTable.ajax.reload();
                        else
                            alert("Update failed");
                    }
                });
            });
        });
    </script>
}