
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                    </tr>
                </tfoot>
                <tbody>
                    @*@foreach (var pro in Model)
                        {
                            <tr data-toggle="modal" data-target="#exampleModal">
                                <td>@pro.ID</td>
                                <td>@pro.productName</td>
                                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgC8ScIB5RkGd0TGWy10yb-5EQy3dFqWeIgl7dfQhDysZ8Ho7e435Satci_Q&usqp=CAc" alt="Alternate Text" /></td>
                                <td>61</td>
                            </tr>
                        }*@

                </tbody>

            </table>
        </div>
    </div>
</div>
<a href="https://localhost:44337/Admin/Product/InsertPro" class="btn btn-info" role="button">Add product</a>

<button type="button" id="del" class="btn btn-primary">Delete</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning  d-none" role="alert" id="alert"></div>
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="id">Product ID</label>
                        <input type="text" class="form-control" name="id" id="id" disabled>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>

                    <div class="form-group">
                        <label for="descrip">Description</label>
                        <input type="text" class="form-control" id="descrip">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price">
                    </div>

                    <div class="form-group">
                        <label for="promo">Promotion price</label>
                        <input type="text" class="form-control" id="promo">
                    </div>

                    <div class="form-group">
                        <label for="pic">Picture</label>
                        <input type="text" class="form-control" id="pic">
                    </div>

                    <div>Status :</div>
                    <div class="form-check">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="True" checked>True
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="radio2">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="False">False
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="cate">Category</label>
                        <input type="text" class="form-control" id="cate">
                    </div>

                    <div class="form-group">
                        <label for="brand">Brand</label>
                        <input type="text" class="form-control" id="brand">
                    </div>

                    <div class="form-group">
                        <label for="viewC">View count</label>
                        <input type="text" class="form-control" id="viewC">
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="edit">Edit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //Load data to table
        $(document).ready(function () {
            var myTable = $("#myTable").DataTable({
                "ajax": {
                    "url": "/Admin/Product/GetData",
                    "type": "GET",
                    "dataSrc": '',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID" },
                    { "data": "productName" },
                    { "data": "productPicture" },
                    { "data": "Price" }
                ]
            });

            //selected row
            $('#myTable tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    myTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            //edit san pham
            $("#edit").click(function () {
                var formData = new FormData();
                formData.append("ID", $("#id").val());
                formData.append("productName", $("#name").val());
                formData.append("productDescription", $("#descrip").val());
                formData.append("Price", $("#price").val());
                formData.append("promotionPrice", $("#promo").val());
                formData.append("productPicture", $("#pic").val());
                formData.append("categoryID", $("#cate").val());
                formData.append("viewCount", $("#viewC").val());
                formData.append("BrandID", $("#brand").val());
                if ($("#radio1").prop("checked", true))
                    formData.append("productStatus", "True");
                else
                    formData.append("productStatus", "False");
                $.ajax({
                    url: "/Admin/Product/EditProduct",
                    type:'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (respone) {
                        //update table
                        myTable.ajax.reload();
                    }
                });
            });

            //xoa san pham
            $("#del").click(function () {
                var id = myTable.cell('.selected', 0).data();
                $.ajax({
                    url: "/Admin/Product/DelProduct",
                    data: { id: id },
                    success: function (response) {
                        if (response == "fail") {
                            $("#alert").removeClass("d-none");
                            $("#alert").html("Error occured");
                        }
                        else {
                            myTable.row('.selected').remove().draw(false);
                        }
                    }
                });
            });

            //Load chi tiết khi click vào sản phẩm
            $('#myTable tbody').on('dblclick', 'tr', function () {
                //get id of selected product
                var id = $(this).find("td:first").text();
                $("#exampleModal").modal("show");
                $.getJSON("/Admin/Product/GetProductById", "id=" + id,
                    function (data) {
                        $("#id").val(data.id);
                        $("#name").val(data.name);
                        $("#descrip").val(data.descript);
                        $("#price").val(data.price);
                        $("#promo").val(data.promo);
                        $("#pic").val(data.picture);
                        if (data.proStt == true)
                            $("#radio1").prop("checked", true);
                        else
                            $("#radio2").prop("checked", true);
                        $("#cate").val(data.catID);
                        $("#brand").val(data.brand);
                        $("#viewC").val(data.viewC);
                    });
            });

        });
    </script>
}